:root {
  --verde: #47e10c;
  --preto: #000;
  --background: rgba(0, 0, 0, 0.98);
  --fechar: #888;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base */

body {
  background: var(--preto);
  font-family: "Arial", Times, serif;
  color: white;
}


h2{
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: lighter;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--verde);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* Jogo principal */

.jogoPrincipal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("./img/Medieval2TotalWarCapa.jpg");

  height: 600px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.jogoPrincipal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.botao {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.botao:hover {
  background-color: white;
  color: black;
}

.fa {
  margin-left: 10px;
}

.container {
  margin-left: 20px;
}

.jogoPrincipal .container {
  width: 70%;
}

.boxJogo {
  max-height: 320px;
  height: 100%;
  width: 100%;
  display: block;
}


/* Carrosel */

.carroselJogos {
  margin-top: 5px;
}

/* Card Carrosel */

.item {
  display: flex;
}

.cardInfor{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  max-width: 250px;
  z-index: -1;
  transition: all 0.5s ease ;
  box-sizing:border-box;
}

.item:hover .cardInfor{
  z-index: 0;
}

.cardInfor .cardTitulo{
  margin-top: 1rem;
  margin-left: 1rem;
}

.cardInfor .descricao {
  margin-top: 2rem;
  margin-left: 1rem;
  flex-basis: auto;
  flex-grow: 1;
}

.cardBotoes{
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
}

.cardBotoes a {
  padding: 0;
  margin-bottom: 1rem;
}

/* Magnific Popup */

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* footer */

.portfolio{
  text-decoration: none;
  color: #888;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.portfolio:hover{
  color: #fff;
  transition: all ease 0.5s;
}